/* #ff8400 */

:root {
    --clr-text: rgb(241, 241, 241);
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(27, 27, 27);
}

.container {
    background-color: rgb(240, 223, 178);
    width: 100%;
    max-width: 40rem;
    margin: auto;
    padding: 5px 50px 15px;
    border-radius: 5px;
}

.container h1 {
    color: var(--clr-text);
    font-family: sans-serif;
    text-align: center;

    border: 2px;

    background-color: #fd9a31;
    border: 2px solid rgb(24, 24, 24);
    box-shadow: rgb(31, 31, 31) -2px 2px;

    padding: 5px 10px;
}

#fehler {
    padding-top: 10px;
    text-align: center;
}

.button-row {
    display: flex;
    justify-content: center;

    padding-top: 10px;
}

.container button {

    width: 150px;
    height: 25px;

    color: var(--clr-text);
    font-weight: bold;

    background-color: #ff8800;
    border: 2px solid rgb(34, 34, 34);
    box-shadow: rgb(58, 58, 58) 3px -2px;

    cursor: pointer;

    &:active {
        box-shadow: rgb(58, 58, 58) 0px 0px;
        transform: translate(3px, -2px);
    }
}

.grid-parent {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: fit-content;
    margin: auto;
}

.grid-row {
    display: grid;
    grid-template-columns: 75px 150px 150px;
    gap: 5px;
    align-items: center;
}

@media screen and (max-width: 30em) {
    .grid-row {
        display: block;
        margin-bottom: 0.5em;

        & > *  {
            display: block;
        }
    }
}

.center {
    text-align: center;
}

#fehler {
    display: none;
    background-color: #ff2c2c;
    color: var(--clr-text);
    width: fit-content;
    margin: auto;
    margin-top: 0.5em;
    padding: 0.5em;
}

table {
    border-collapse: collapse;
    width: 100%;
    td {
        border: solid 1px black;
        padding: 0.2em 0.4em;
    }

    thead {
        font-weight: bold;
        background-color: rgb(231, 208, 145);
    }

    tbody > tr:nth-child(odd) {
        background-color: rgb(223, 216, 197);
    }

    background-color: rgb(238, 230, 207);
}